input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #1ed760;
    color: white;
    font-size: 14px;
    font-weight: bold;
    
}

select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #1ed760;
    color: white;
    font-size: 14px;
    font-weight: bold;
    
}